body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgb(34, 32, 33);
    font-family: sans-serif;
}

.logn-container {
    background-color: #f3c9d5;
    padding: 25px;
    width: 200px;
    text-align: center;
    box-shadow: 2px 2px 10px rgba(3, 0, 2, 0.7);
    border-radius: 5px;
    
}

input, button {
    width: 90%;
    margin: 10% auto;
    padding: 8px;
    border-radius: 5px;
    border: 5px;
    display: block;
    outline-color: rgb(179, 46, 79) ;
   

}
button {
    background-color:  #e69bb8;
    cursor: pointer;
}
button:hover {
    background-color: #d37e9f;
}
h2{
    color: #961636;
}

input:hover {
    border: 1px solid #9b3f54;
}
a{
    color: rgb(112, 86, 99);

}
a:hover{
    color: #961636 ;
}
